{%extends "layout.html"%}

{%block title%}
    Sell
{% endblock %}

{% block main%}

<form action="/sell" method="post">
    <div class="mb-3">
        <label class="form-label">Choose a stock</label>
        <select id="stock-select" name="symbol" class="form-select mt-2" name="symbol">
            {% for holding in holdings %}
                <option value="{{ holding.symbol }}">{{ holding.symbol }} — {{ holding.shares }} shares</option>
            {% endfor %}
        </select>

        <div class="input-group">
            <input type="number" id="shares_amount" name="shares" class="form-control" placeholder="Shares...">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Sell</button>
    </div>
</form>


{%endblock%}